.error {
  display: none;
  color: red;
}

.cat-info{
  padding-top: 10px;
}

#cat-image {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 800px;
  margin-right: 30px ;
}

#cat-details{
  display: flex;
  flex-direction: column;
}